<div class="footer">
  <%= image_tag("mushrooms.png", class: "footer") %>
  <div class="footer-content">
    <%= image_tag("lotus.png", class: "lotus")  %>
    <q class="quote-right-bottom">Alice in wonderland quote goes here...</q>
  </div>
</div>
