<div class="splash">
  <div>
    <h1>Alice in Yogaland</h1>
<!--     <h2>ENTER</h2> -->

<%= link_to "ENTER", home_path, class: "btn-enter" %>


<style> .menu-button { display: none } </style>

  </div>
</div>

