<div class="splash">
  <div>
    <h1>Alice in Yogaland</h1>
<!--     <h2>ENTER</h2> -->

<%= link_to "ENTER", home_path, class: "btn-enter" %>


<style> .navbar { display: none }
        .footer { display: none}
        .navbar-mobile { display: none } </style>

  </div>
</div>

