.btn-more {
  color: black;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 28px;
  border: 4px solid black;
  opacity: 0.5;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.5s;
}

.btn-more:hover {
  opacity: 1;
}

// HOMEPAGE CONTENT BUTTONS
.homepage-content-buttons {
  display: flex;
  justify-content: center;
  transform: translate(0px, 170px);
}

.content-button {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
}

.inactive {
  opacity: 50%;
}
