.btn-more {
  color: white;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 28px;
  // border: 2px solid black;
  background-color: black;
  opacity: 0.5;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 15px;
  transition: 0.5s;
  // box-shadow: 10px 10px 10px black;
}

.btn-more:hover {
  opacity: 1;
}

// HOMEPAGE CONTENT BUTTONS
.homepage-content-buttons {
  display: flex;
  justify-content: center;
  transform: translate(0px, 170px);
}

.content-button {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
}

.inactive {
  opacity: 50%;
}


// MOBILE VIEW
@media screen and (max-device-width: 400px) {
  .homepage-content-buttons {
    display: none;
  }
}


// TABLET VIEW
@media screen and (min-device-width: 401px) and (max-device-width: 1336px) {
  .homepage-content-buttons {
    transform: translate(0px, 123px);
  }
}

