h1 {
  font-family: 'Henny Penny', cursive;
  color: black;
}

h2 {
  font-family: 'Henny Penny', cursive;
  color: #C8C8C8;
  font-size: 64px;
}

p {
  font-family: 'Lato', sans-serif;
  color: #C8C8C8;
  font-size: 28px;
}

q {
  font-family: 'Dancing Script', cursive;
  color: #C8C8C8;
  font-size: 28px;
}
