// HEADERS

h1 {
  font-family: 'Henny Penny', cursive;
  color: black;
}

h2 {
  font-family: 'Henny Penny', cursive;
  color: black;
  opacity: 0.7;
  font-size: 64px;
  margin: 0 !important;
  padding: 0 !important;
}

h3 {
  font-family: 'Henny Penny', cursive;
  color: #C8C8C8;
  font-size: 48px;
  margin: 0 !important;
  padding: 0 !important;
}

h4 {
  font-family: 'Loved by the King', cursive;
  color: #C8C8C8;
  font-size: 40px;
  margin: 0 !important;
}

h5 {
  font-family: 'Loved by the King', cursive;
  color: #C8C8C8;
  font-size: 28px;
  margin: 0 !important;
}



// NON-HEADERS

p {
  font-family: 'Loved by the King', cursive;
  color: black;
  opacity: 0.7;
  font-size: 28px;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

q {
  font-family: 'Dancing Script', cursive;
  color: #C8C8C8;
  font-size: 28px;
}

i {
  color: blue;
}



// --- MOBILE VIEW ---
@media screen and (max-device-width: 400px) {
  q {
    font-size: 48px;
    text-align: center;
  }
}


// --- TABLET VIEW ---
@media screen and (min-device-width: 401px) and (max-device-width: 1336px) {
  q {
    font-size: 36px;
  }
}
