.homepage-section {
  display: flex;
  justify-content: space-between;
}

.homepage-text {
  flex-grow: 4;
  text-align: center;
  z-index: 1;
  margin: auto;
}

#next-class-text {
  margin-bottom: 30px;
}
