// home
.home-image-1 {
  height: 600px;
  background-image: url(image1.jpeg);
  background-size: cover;
  width: 400px;
  box-shadow: inset 0px 0px 17px 27px #0E0C0C;
  transform: translate(120px, 76px);
}

.vintage-paper-1 {
  position: absolute;
  height: 100vh;
  vertical-align: center;
  transform: translate(75px, 0px);
}


// .home-image-1 {
//   box-shadow: inset 3px 4px 5px #000;
// }


// about



// --- MOBILE VIEW ---
@media screen and (max-device-width: 400px) {
  .home-image {
    display: none;
  }

  .vintage-paper-1 {
    height: 47vh;
    transform: translate(-17px, 67px);
  }

}


// TABLET VIEW
@media screen and (min-device-width: 401px) and (max-device-width: 1336px) {
  .vintage-paper-1 {
    height: 47vh;
    transform: translate(-32px, 40px);
  }

  .home-image-1 {
    transform: translate(80px, 78px);
    z-index: -1;
  }
}
