// home
.home-image {
  height: 500px;
}

.home-mushrooms {
  width: 100%;
  position: absolute;
  bottom: -50px;
}

// about



// --- MOBILE VIEW ---
@media screen and (max-device-width: 400px) {
  .home-image {
    display: none;
  }
}
