// home
.home-banner {
  width: 100%;
  position: relative;
  box-shadow: 0 4px 346px 138px black;
}

.home-image {
  height: 500px;
}

// about


// --- MOBILE VIEW ---
@media screen and (max-device-width: 400px) {
  .home-image {
    display: none;
  }
}
