// NAVBAR

.navbar {
  background-color: transparent;
  z-index: 1;
  position: relative;
}

.menu-button {
  height: 75px;
  width: 75px;
  // z-index: 1;
  background-color: orange;
  border-radius: 50%;
  float: right;
  margin: 30px;
  // z-index: 1;
}
