body {
  margin: 0;
}

.splash {
  background-image: url('splashimage.jpg');
  background-size: cover;
  background-position-y: center;

  width: 100vw;
  height: 100vh;

  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;

  * {
    z-index: 1;
  }

  h1 {
    margin: auto;
    font-size: 90px;
    opacity: 0.6;
  }

  .btn-enter {
    font-size: 42px;
    opacity: 0.6;
    transition: 0.3s;
    font-family: 'Alatsi', sans-serif;
    color: black;
    text-decoration: none;
  }

  .btn-enter:hover {
    opacity: 1;
  }
}

.splash::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}


// --- MOBILE VIEW ---
@media screen and (max-device-width: 400px) {
  .splash {
    background-position-x: 69%;
  }

  .splash h1 {
    font-size: 105px;
  }

  .splash .btn-enter {
    font-size: 76px;
  }
}

// --- TABLET VIEW ---
@media screen and (min-device-width: 401px) and (max-device-width: 1336px) {
  .splash {
    background-position-x: 72%;
  }

  .splash .btn-enter {
    font-size: 70px;
  }
}
